<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-credit-card"></i>
					<h2>Pague no cartão ou dinheiro</h2>
					<p>
            Com o Livre Cash, você parcela sem juros no cartão ou à vista nos pontos de pagamento. E é sempre seguro!
          </p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-gift"></i>
					<h2>Frete grátis a partir de $ 999</h2>
					<p>
            Só por se cadastrar no Livre você tem frete grátis em milhares de produtos.
          </p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-user-shield"></i>
					<h2>Segurança, do início ao fim</h2>
					<p>
            Não gostou? Devolva! No Livre, não há nada que você não possa fazer, porque você está sempre protegido.
          </p>
				</article>
			</div>
		</div>
	</div>
</footer>
<div class="sub-footer">
  <div class="container">
    <p>
      Copyright © <%= new Date().getFullYear() %> Livre
    </p>
  </div>
</div>