*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ 
 
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
 }
 
.container{
  max-width: 101rem;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, section{ 
  font-family: 'Mulish', sans-serif;
}

header .logo{
  font-size: 2.2rem;
  font-weight: bolder;
  width: 15.3rem;
  color: #6D74C1;
}

header nav ul{ 
  width: 26.7rem;
  display: flex;
  justify-content: space-between;
}

li{
  list-style: none;
  font-size: 1.8rem;

}

li a{
  text-decoration: none;
  color: #1F1534;
  opacity: 0.5;
}

li a:hover{
  font-weight: bold;
  opacity: 1;
}

main{
  display:flex;
  /* margin-bottom: 42rem; */
  align-items: center;
  justify-content: space-between;
}

main h1 {
  color: #000000;
  font-size: 4.9rem;
  line-height: 5.6rem;

  margin: 10.9rem 0 4rem;
  font-weight: 400;

}

main h1 span {
  font-weight: 700;
 color: #6D74C1;
}

p, footer{
  font-family: 'Open Sans', sans-serif;
}

main p{
font-weight: 400;
font-size: 1.4rem;
line-height: 2.8rem;
color: #7D7987;
margin-bottom: 4rem;
}

section button {
  display: flex;
  justify-content: center;
  align-items: center; 

  width: 17.9rem;
  height: 5.6rem;
  padding: 1.4rem 3.2rem 1.4rem;
  gap: 1rem;

  background-color: #6D74C1;
  border: none;
  border-radius: 4px;

  font-family: 'Open Sans', sans-serif;

  cursor: pointer;
}

section button:hover{
  background-color: #484e8d;
}

section button img{
  width: 2.4rem;
  height: 2.4rem;
}

section button span{
  color: #F9F9F9;
  font-size: 1.6rem;
  line-height: 2.1rem;

}

footer{
}

main .computer{
  height: 42rem;
  
}

footer p{
  
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #000000;
  font-weight: 400;
  font-size: 1.6rem;
}


